#app {
    background: linear-gradient(rgb(70,179,135), rgb(44,78,86)) center center / cover no-repeat;

    h1 {
        color:white;
        font-weight: 600;
    }
}

.complete {
    text-decoration: line-through;
    opacity: 0.7;
}
